.page {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 375px;
    height: 813px;
    .goods-list-1v3 {
        display: flex;
        position: relative;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 1px;
        margin-left: -1px;
        width: 377px;
        .container-inner {
            display: flex;
            position: absolute;
            top: 374px;
            align-items: flex-start;
            align-self: center;
            flex-direction: row;
            width: 377px;
            height: 77px;
            white-space: nowrap;
            .wrapper {
                display: flex;
                position: relative;
                align-items: flex-start;
                flex-direction: row;
                margin-top: 1px;
                margin-left: 1px;
                .origin-price-wrapper {
                    display: flex;
                    position: absolute;
                    top: 0;
                    left: 0;
                    align-items: center;
                    flex-direction: row;
                    background-image: linear-gradient(-25deg, #fca018 0%, #fd4920 100%);
                    width: 375px;
                    height: 49px;
                    overflow: hidden;
                    font-weight: NaN;
                    .rmb {
                        margin-top: -1px;
                        margin-left: 12px;
                        line-height: 17px;
                        color: #ffffff;
                        font-size: 17px;
                    }
                    .price {
                        margin-top: -3px;
                        margin-right: 14px;
                        line-height: 23px;
                        color: #ffffff;
                        font-size: 23px;
                    }
                    .origin-price {
                        margin-top: 3px;
                        text-decoration: line-through;
                        line-height: 13px;
                        color: rgba(255, 255, 255, 0.64);
                        font-family: PingFang SC;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
                .wrapper-inner {
                    display: flex;
                    position: relative;
                    align-items: flex-start;
                    flex-direction: column;
                    margin-top: -1px;
                    margin-left: 207px;
                    background-size: contain;
                    background-image: url(https://ai-sample.oss-cn-hangzhou.aliyuncs.com/test/a28113e0f10911ebb69b5394722ae651.png);
                    width: 168px;
                    height: 50px;
                    .buy {
                        position: relative;
                        margin-top: 6px;
                        margin-left: 54px;
                        max-width: 120px;
                        height: 25px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 25px;
                        color: #fd4b24;
                        font-family: PingFang SC;
                        font-size: 18px;
                        font-weight: 400;
                    }
                    .tag {
                        position: relative;
                        align-self: flex-end;
                        margin-right: 24px;
                        max-width: 120px;
                        height: 16px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 16px;
                        color: #fd4b24;
                        font-family: PingFang SC;
                        font-size: 11px;
                        font-weight: 500;
                    }
                }
            }
        }
        .body {
            display: flex;
            position: relative;
            align-items: flex-start;
            flex-direction: row;
            margin-left: 1px;
            background-color: #ffffff;
            width: 375px;
            height: 375px;
            overflow: hidden;
            .wrapper-1 {
                display: flex;
                position: relative;
                align-items: flex-start;
                flex-direction: column;
                height: 87px;
                .wrapper-inner-1 {
                    box-sizing: border-box;
                    display: flex;
                    position: relative;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    background-color: rgba(255, 255, 255, 0);
                    padding-right: 14px;
                    padding-left: 21px;
                    width: 375px;
                    height: 43px;
                    .time {
                        margin-top: 2px;
                        line-height: 15px;
                        letter-spacing: 0px;
                        white-space: nowrap;
                        color: #000000;
                        font-size: 15px;
                        font-weight: NaN;
                    }
                    .group {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: center;
                        margin-top: 2px;
                        .icon-hot {
                            margin-right: 6px;
                            width: 37px;
                            height: 11px;
                        }
                        .view {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            justify-content: center;
                            margin-right: 1px;
                            border-width: 1px;
                            border-style: solid;
                            border-radius: 2px;
                            border-color: rgba(0, 0, 0, 0.35);
                            width: 22px;
                            height: 11px;
                            .horizontal-line {
                                border-radius: 1px;
                                background-color: #000000;
                                width: 18px;
                                height: 7px;
                            }
                        }
                        .dot {
                            margin-top: -1px;
                            width: 1px;
                            height: 4px;
                        }
                    }
                }
                .wrapper-inner-2 {
                    display: flex;
                    position: relative;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 5px;
                    margin-left: 9px;
                    width: 351px;
                    .icon-left-wrapper {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: center;
                        margin-top: 2px;
                        background-size: contain;
                        background-image: url(https://ai-sample.oss-cn-hangzhou.aliyuncs.com/test/a38eda60f10911ebb70d8bcb39f43138.png);
                        width: 29px;
                        height: 29px;
                        .icon-left {
                            width: 8px;
                            height: 17px;
                        }
                    }
                    .badge {
                        width: 88px;
                        height: 33px;
                    }
                }
            }
            .wrapper-2 {
                display: flex;
                position: relative;
                align-items: flex-start;
                flex-direction: column;
                margin-top: 1px;
                width: 375px;
                height: 287px;
                .horizontal-line-1 {
                    position: relative;
                    margin-top: -1px;
                    background-color: #f3f5f7;
                    width: 375px;
                    height: 1px;
                }
                .icon-play {
                    position: relative;
                    align-self: center;
                    margin-top: 61px;
                    width: 40px;
                    height: 9px;
                }
                .tag-wrapper {
                    box-sizing: border-box;
                    display: flex;
                    position: relative;
                    align-items: center;
                    align-self: flex-end;
                    flex-direction: row;
                    margin-top: 177px;
                    margin-right: 12px;
                    border-radius: 11px;
                    background-color: rgba(0, 0, 0, 0.27);
                    padding-right: 9px;
                    padding-left: 10px;
                    height: 23px;
                    line-height: 12px;
                    white-space: nowrap;
                    .tag-1 {
                        color: #ffffff;
                        font-family: PingFang SC;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
        }
        .footer {
            display: flex;
            position: relative;
            align-items: flex-end;
            flex-direction: row;
            margin-top: 17px;
            width: 377px;
            height: 176px;
            .wrapper-3 {
                display: flex;
                position: relative;
                align-items: flex-start;
                flex-direction: column;
                margin-left: 1px;
                background-color: #ffffff;
                width: 375px;
                height: 144px;
                .icon-share {
                    position: relative;
                    align-self: flex-end;
                    margin-top: 16px;
                    margin-right: 12px;
                    width: 16px;
                    height: 16px;
                }
                .info {
                    position: relative;
                    margin-top: 40px;
                    margin-left: 12px;
                    max-width: 351px;
                    height: 17px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 17px;
                    white-space: nowrap;
                    color: #808080;
                    font-family: PingFang SC;
                    font-size: 13px;
                    font-weight: 500;
                }
                .wrapper-inner-3 {
                    display: flex;
                    position: relative;
                    align-items: center;
                    align-self: center;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 8px;
                    border-radius: 3px;
                    background-color: rgba(245, 245, 245, 0.6);
                    width: 351px;
                    height: 36px;
                    .group-i0 {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        margin-top: 1px;
                        margin-right: 64px;
                        height: 17px;
                        .icon-setup {
                            margin-top: 1px;
                            margin-right: 6px;
                            width: 13px;
                            height: 12px;
                        }
                        .label {
                            line-height: 12px;
                            white-space: nowrap;
                            color: #999999;
                            font-family: PingFang SC;
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                    .group-i1 {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        margin-top: 1px;
                        margin-right: 68px;
                        height: 17px;
                        .icon-time {
                            margin-top: -1px;
                            margin-right: 5px;
                            width: 12px;
                            height: 12px;
                        }
                        .word {
                            line-height: 12px;
                            white-space: nowrap;
                            color: #999999;
                            font-family: PingFang SC;
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                    .group-i2 {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        margin-top: 1px;
                        height: 17px;
                        .icon-guard {
                            margin-top: -2px;
                            margin-right: 5px;
                            width: 10px;
                            height: 11px;
                        }
                        .tag-2 {
                            line-height: 12px;
                            white-space: nowrap;
                            color: #999999;
                            font-family: PingFang SC;
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                }
            }
            .text-background {
                position: absolute;
                top: 0;
                left: 0;
                width: 377px;
                height: 59px;
            }
            .tag-wrapper-1 {
                box-sizing: border-box;
                display: flex;
                position: absolute;
                top: 49px;
                left: 13px;
                align-items: flex-start;
                flex-direction: row;
                border-radius: 2px;
                background-image: linear-gradient(-36deg, #f83600 60%, #f9d423 100%);
                padding-right: 5px;
                padding-left: 7px;
                height: 15px;
                font-weight: 500;
                line-height: 14px;
                white-space: nowrap;
                .tag-3 {
                    color: #ffffff;
                    font-family: PingFang SC;
                    font-size: 10px;
                }
            }
            .desc {
                webkit-box-orient: vertical;
                display: -webkit-inline-box;
                webkit-line-clamp: 2;
                position: absolute;
                top: 44px;
                left: 13px;
                width: 304px;
                height: 56px;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 28px;
                white-space: normal;
                color: #333333;
                font-family: PingFang SC;
                font-size: 19px;
                font-weight: 600;
            }
        }
    }
    .shop {
        display: flex;
        position: relative;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 12px;
        background-color: #ffffff;
        width: 375px;
        height: 86px;
        font-weight: 500;
        white-space: nowrap;
        .label-1 {
            position: absolute;
            top: 15px;
            left: 12px;
            line-height: 17px;
            color: #333333;
            font-family: PingFang SC;
            font-size: 13px;
        }
        .word-1 {
            position: absolute;
            top: 15px;
            left: 64px;
            line-height: 17px;
            color: #808080;
            font-family: PingFang SC;
            font-size: 13px;
        }
        .text-background-1 {
            position: absolute;
            top: 20px;
            align-self: center;
            width: 375px;
            height: 35px;
            font-weight: 400;
            white-space: normal;
        }
        .body-1 {
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: row;
            margin-top: 18px;
            width: 375px;
            height: 37px;
            font-weight: 400;
            white-space: normal;
            .icon-right {
                position: absolute;
                top: 0;
                right: 12px;
                width: 11px;
                height: 11px;
            }
        }
        .footer-1 {
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: row;
            margin-left: 12px;
            height: 17px;
            line-height: 13px;
            .tag-4 {
                margin-right: 13px;
                color: #333333;
                font-family: PingFang SC;
                font-size: 13px;
            }
            .shop-title {
                color: #808080;
                font-family: PingFang SC;
                font-size: 13px;
            }
        }
    }
    .list {
        display: flex;
        position: relative;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 12px;
        background-color: #ffffff;
        .header {
            display: flex;
            position: relative;
            align-items: flex-start;
            flex-direction: column;
            height: 51px;
            line-height: 20px;
            white-space: nowrap;
            .meta {
                position: relative;
                margin-top: 15px;
                margin-left: 12px;
                max-width: 351px;
                height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #333333;
                font-family: PingFang SC;
                font-size: 16px;
                font-weight: 400;
            }
        }
        .body-2 {
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;
            margin-top: 1px;
            .bg {
                position: relative;
                margin-top: -1px;
                width: 375px;
                height: 1px;
            }
            .wrapper-4 {
                display: flex;
                position: relative;
                align-items: center;
                flex-direction: row;
                margin-top: 4px;
                line-height: 16px;
                white-space: nowrap;
                .wrapper-inner-4 {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    margin-top: 1px;
                    margin-right: 55px;
                    line-height: NaNpx;
                    white-space: normal;
                    .icon-cart-wrapper {
                        display: flex;
                        position: relative;
                        align-items: flex-start;
                        flex-direction: row;
                        margin-left: 7px;
                        width: 24px;
                        height: 22px;
                        .icon-cart {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 24px;
                            height: 22px;
                        }
                        .num {
                            position: relative;
                            margin-top: -1px;
                            margin-left: 15px;
                            max-width: 20px;
                            height: 15px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 15px;
                            white-space: nowrap;
                            color: #ffffff;
                            font-family: PingFang SC;
                            font-size: 11px;
                            font-weight: 500;
                        }
                    }
                    .buy-1 {
                        position: relative;
                        margin-top: 3px;
                        line-height: 15px;
                        white-space: nowrap;
                        color: #333333;
                        font-family: PingFang SC;
                        font-size: 11px;
                        font-weight: 400;
                    }
                }
                .wrapper-inner-i0 {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: -1px;
                    margin-right: 12px;
                    border-radius: 20px;
                    background-color: #31cf6e;
                    width: 126px;
                    height: 40px;
                    .buy-2 {
                        max-width: 114px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #ffffff;
                        font-family: PingFang SC;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                .wrapper-inner-i1 {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: -1px;
                    border-radius: 20px;
                    background-color: #fb4e44;
                    width: 126px;
                    height: 40px;
                    .buy-3 {
                        max-width: 114px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #ffffff;
                        font-family: PingFang SC;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            .wrapper-5 {
                display: flex;
                position: relative;
                align-items: flex-start;
                flex-direction: row;
                justify-content: center;
                margin-top: 4px;
                background-color: rgba(255, 255, 255, 0);
                width: 375px;
                height: 34px;
                .horizontal-line-2 {
                    margin-top: 20px;
                    border-radius: 2px;
                    background-color: #333333;
                    width: 134px;
                    height: 5px;
                }
            }
        }
    }
}
